<!doctype html>
<html lang="en">
{% include "./fragments/head.html" %}
<body>

{% include "./fragments/nav.html" %}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="container cp-_5">
                <h1 class="header center teal-text text-lighten-2"><strong>404 Nothing here</strong></h1>
            </div>
            <div class="container cp-_5">
                <h2 class="header center teal-text text-lighten-2"><strong>404 Nothing here</strong></h2>
            </div>
            <div class="container cp-_5">
                <h3 class="header center teal-text text-lighten-2"><strong>404 Nothing here</strong></h3>
            </div>
            <div class="container cp-_5">
                <h4 class="header center teal-text text-lighten-2"><strong>404 Nothing here</strong></h4>
            </div>
            <div class="container cp-_5">
                <h5 class="header center teal-text text-lighten-2"><strong>404 Nothing here</strong></h5>
            </div>
            <div class="container cp-_5">
                <h6 class="header center teal-text text-lighten-2"><strong>404 Nothing here</strong></h6>
            </div>
        </div>
    </div>
</div>

{% include "./fragments/footer.html" %}
{% include "./fragments/scripts.html" %}

</body>
</html>
