<!doctype html>
<html lang="en">
{% include "./fragments/head.html" %}
<body>

{% include "./fragments/nav.html" %}

<div class="container">
    <div class="section">
        <div class="row">
            {% if message is not same as null %}
                <div class="container cp-5">
                    <h1 class="center teal-text text-lighten-3"><i class="large material-icons">star</i></h1>
                    <h1 class="header center teal-text text-lighten-2"><strong>{{ message.message }}</strong></h1>
                </div>
            {% else %}
                <div class="container">
                    <h1 class="header center teal-text text-lighten-2">
                        <strong>Add a track for record {{ record.id }}</strong>
                    </h1>
                </div>

                <div class="row">
                    <form class="col s12 m6 offset-m3" method="post" action="./?p=add-track">
                        <input id="record-id" type="text" class="validate hide" name="record-id"
                               value="{{ record.id }}">
                        <label for="record-id"></label>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="artist" type="text" class="validate" name="artist" required disabled
                                       value="{{ record.artist }}">
                                <label for="artist">Artist</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="title" type="text" class="validate" name="title" required>
                                <label for="title">Title</label>
                            </div>
                        </div>

                        <button class="btn waves-effect waves-light right" type="submit" name="submit" value="submit">
                            Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>

            {% endif %}
        </div>
    </div>
</div>

{% include "./fragments/footer.html" %}
{% include "./fragments/scripts.html" %}

</body>
</html>

