/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.cp-5 {
    padding: 5rem 0;
}

.cp-2 {
    padding: 2rem 0;
}

.cp-_5 {
    padding: .5rem 0;
}

.details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bmtb-_5 {
    margin: .5rem 0;
}

.bmlr-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}
