<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="./" class="brand-logo">Records</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="../views/records.php">See all records</a></li>
            <li><a href="https://github.com/karolskolasinski/records/blob/master/readme.md">Documentation</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="../views/records.php">See all records</a></li>
            <li><a href="https://github.com/karolskolasinski/records/blob/master/readme.md">Documentation</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
